@import "../config.scss";

.landing_section_1 {
  background: url("/assets/landing_bg.png") no-repeat;
  background-size: cover;
  width: 1440px;
  height: 874px;
  margin: auto;
  position: relative;
  overflow: hidden;
  .landing_section_1_image {
    position: absolute;
    background: url("/assets/landing_bg.png") no-repeat;
    background-size: contain;
    width: 1720px;
    height: 980px;
    right: -360px;
    top: -15px;
  }
  .landing_section_1_inner {
    position: absolute;
    width: 489px;
    left: 16%;
    top: 50%;
    transform: translate(16%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      max-width: 400px;
      line-height: 1.65rem;
      color: #171717;
      font-size: 1.125rem;
    }
    h1 {
      font-size: 3.375rem;
      padding-bottom: 1.5rem;
    }
    .contact_us_btn {
      width: 190px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      border-radius: 0.2rem;
      background: $primary_color;
      margin-top: 2rem;
      font-weight: bold;
      color: #fbfbfb;
    }
  }
}
@media only screen and (max-width: 1150px) {
  .landing_section_1 {
    width: 100%;
  }
}
.landing_section_2 {
  padding: 8rem 0;
  h2 {
    width: 1024px;
    margin: auto;
    font-size: 1.375rem;
  }
  .landing_section_2_inner {
    width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    .landing_section_2_item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      img {
        width: 204px;
        height: 204px;
      }
      &:nth-child(2) {
        margin: 0 2rem;
      }
      h3 {
        font-size: 1.375rem;
      }
      .landing_section_2_item_desc {
        display: flex;
        span {
          width: 1rem;
          height: 1rem;
          transform: rotate(-90deg);
          font-weight: bold;
          font-size: 1.2rem;
          color: $primary_color;
          margin-right: 1rem;
        }
        div {
          border-left: 1px solid #d3d3d3;
          padding-top: 1rem;
          padding-left: 2.5rem;
          p {
            font-size: 0.9rem;
            padding-top: 1rem;
            max-width: 190px;
            line-height: 1.4rem;
            color: #878787;
          }
        }
      }
    }
  }
}
.landing_section_3 {
  padding-bottom: 12rem;
  padding-top: 4rem;
  .landing_section_3_inner {
    width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .landing_section_3_inner_right {
      display: flex;
      flex-direction: column;
      max-width: 350px;
      .landing_section_3_inner_right_item {
        display: flex;
        padding: 1.5rem 0 1.5rem 1.5rem;
        border-bottom: 1px solid #d3d3d3;
        align-items: center;
        p {
          padding-left: 2rem;
          font-weight: bold;
          line-height: 1.4rem;
        }
        img {
          width: 29px;
          margin-right: 1.6rem;
          height: 29px;
        }
      }
    }
    .landing_section_3_inner_left {
      display: flex;
      align-items: flex-start;
      div {
        max-width: 445px;
      }
      img {
        padding-top: 0.3rem;
        margin-right: 4rem;
      }
      h1 {
        padding-bottom: 2.5rem;
        position: relative;
        font-size: 2.5rem;
        padding-right: 1rem;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 2rem;
          height: 2px;
          background: $primary_color;
        }
      }
      p {
        color: #878787;
        padding-top: 1.5rem;
        line-height: 1.75rem;
        max-width: 350px;
      }
    }
  }
}
.landing_section_4 {
  background: #f8f8f8;
  .landing_section_4_inner {
    align-items: center;
    justify-content: space-between;
    display: flex;
    .landing_section_4_left {
      margin: 0 auto;
      h1 {
        color: $primary_color;
        padding: 1rem 0;
        font-size: 2.5rem;
      }
      h2 {
        padding-top: 1rem;
        color: #696969;
        font-size: 1.5rem;
      }
      span {
        color: #b0cac3;
        font-size: 0.9rem;
      }
      p {
        max-width: 336px;
        color: #878787;
        padding-bottom: 1rem;
        position: relative;
        line-height: 1.5rem;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 2rem;
          height: 2px;
          background: $primary_color;
        }
      }
    }
    .landing_section_4_right {
      span {
        display: none;
      }
      .landing_section_4_right_img {
        width: 496px;
        height: 712px;
        background: url(/assets/img_1.svg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}
.landing_section_5 {
  padding: 7rem 0;
  .landing_section_5_inner {
    width: 1024px;
    margin: auto;
    display: flex;
    align-items: center;
    h1 {
      font-size: 2.5rem;
      width: 400px;
      padding-bottom: 1.5rem;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 2rem;
        height: 2px;
        background: $primary_color;
      }
    }
    p {
      padding-top: 1.5rem;
      color: #878787;
      line-height: 1.5rem;
      max-width: 350px;
    }
  }
}
.landing_section_6 {
  background: url(/assets/img_3.svg);
  position: relative;
  height: 964px;
  overflow: hidden;
  margin: auto;
  .landing_section_6_image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20px;
    background: url(/assets/img_3.svg);
    object-fit: cover;
  }
  .landing_section_6_inner {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(10%, -50%);
    display: flex;
    align-items: flex-start;
    width: 447px;
    .logo_img {
      padding-top: 0.3rem;
      margin-right: 4rem;
    }
    .landing_section_6_inner_item_wraper {
      .landing_section_text {
        line-height: 1.4rem;
        max-width: 312px;
      }
      h1 {
        padding-bottom: 1.5rem;
        position: relative;
        font-size: 2.5rem;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 2rem;
          height: 1px;
          background: $primary_color;
        }
      }
      p {
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        line-height: 1.5rem;
      }
      .landing_section_6_inner_item {
        display: flex;
        padding: 1.3rem 0;
        border-bottom: 1px solid #d3d3d3;
        p {
          padding: 0;
          font-weight: bold;
          padding-left: 2rem;
        }
      }
    }
  }
}
.landing_section_4_left_mobile {
  display: none;
}
.testimonial {
  padding: 10rem 0;
  .testimonial_slider {
    width: 620px;
    overflow: hidden;
    margin: auto;
    .testimonial_slider_item {
      padding: 0 1rem;
      .testimonial_item_text {
        line-height: 2rem;
        font-size: 1.375rem;
      }
      .testimonial_img {
        padding-bottom: 2rem;
      }
      p {
        font-weight: bold;
        border-bottom: 1px solid #d3d3d3;
        padding-bottom: 1.5rem;
      }
      .testimoial_info {
        padding-top: 2rem;
        display: flex;
        justify-content: space-between;
        img {
          padding-right: 2rem;
        }
        .testimonial_info_desc {
          display: flex;
          align-items: center;
          .testimonial_info_desc_wraper {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            p {
              font-size: 1rem;
            }
            span {
              color: #c4c4c4;
              padding-top: 0.3rem;
              font-size: 0.8rem !important;
            }
          }
          p {
            font-weight: bold;
            padding-bottom: 0;
            border-bottom: 0;
          }
        }
      }
    }
  }
}
.landing_section_7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $primary_color;
  color: #fff;
  height: 464px;
  text-align: center;
  h1 {
    padding-bottom: 1rem;
  }

  button {
    width: 190px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: $primary_color;
    background: #fff;
    border-radius: 0.2rem;
    margin-top: 2.5rem;
    font-weight: bold;
  }
}

// Media query sections

@media only screen and (max-width: 1440px) {
  .landing_section_5 {
    .landing_section_5_inner {
      width: 100%;
    }
  }
  .landing_section_1 {
    width: 100%;
    .landing_section_1_inner {
      left: 6rem;
      transform: translate(6rem, -50%);
    }
  }
}
@media only screen and (max-width: 1310px) {
  .landing_section_1 {
    .landing_section_1_inner {
      left: 4.3rem;
      transform: translate(4.3rem, -50%);
    }
  }
}
@media only screen and (max-width: 1280px) {
  .landing_section_5_inner {
    img {
      width: 100%;
    }
  }
  .landing_section_1 {
    .landing_section_1_image {
      width: 1440px;
      height: 874px;
      right: -280px;
      top: 40px;
    }
    .landing_section_1_inner {
      left: 3.2rem;
      top: 50%;
      transform: translate(3.2rem, -50%);
    }
  }
  .landing_section_6 {
    .landing_section_6_inner {
      left: 1rem;
      transform: translate(0, -50%);
    }
  }
  .landing_section_6_inner {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: flex-start;
    width: 445px;
  }
  .landing_section_6_image {
    width: 1280px;
    height: 100vh;
    right: -30px;
  }
}

@media only screen and (max-width: 1024px) {
  .landing_section_2 {
    h2 {
      padding-left: 1rem;
    }
  }
  .landing_section_1 {
    .landing_section_1_inner {
      left: 1rem;
      width: 40%;
      transform: translate(1rem, -50%);
    }
  }
  .landing_section_5 {
    .landing_section_5_inner {
      h1 {
        width: 100%;
      }
    }
  }
  .landing_section_2 {
    h2 {
      width: 100%;
    }
    .landing_section_2_inner {
      flex-direction: column;
      width: 100%;
      // padding: 0 1rem;
      .landing_section_2_item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-right: 0.5rem;
        flex-direction: row;
        &:nth-child(2) {
          margin: 1rem 0;
        }
      }
    }
  }
  .landing_section_3 {
    padding-top: 0rem;
    .landing_section_3_inner {
      width: 100%;
    }
  }
  .landing_section_5 {
    .landing_section_5_inner {
      flex-direction: column;
      .landing_section_5_right {
        padding: 0 1.5rem;
        p {
          max-width: 100%;
        }
      }
    }
  }
  .landing_section_6 {
    background: none;
    overflow: hidden;
    .landing_section_6_image {
      background: url(/assets/section_6_mobile_bg.svg) no-repeat;
      background-size: 100%;
      right: 0;
      left: 0;
      top: 0px;
      bottom: 0;
    }
    .landing_section_6_inner {
      top: 50%;
      width: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0 0.2rem;
      .landing_section_6_inner_item_wraper {
        width: 100%;
        .landing_section_text {
          max-width: 100%;
        }
      }
    }
  }

  .landing_section_1 {
    .landing_section_1_image {
      width: 1300px;
      height: 800px;
      right: -305px;
    }
  }
  .landing_section_6_inner_item_box {
    margin-top: 4rem;
    width: 100%;
    height: 269px;
    background: #fff;
  }
}
@media only screen and (max-width: 900px) {
  .landing_section_1 {
    height: 700px;
  }
  .landing_section_1 {
    .landing_section_1_inner {
      h1 {
        font-size: 2.4rem;
      }
    }
  }
  .landing_section_3 {
    padding: 0 2rem 8rem 2rem;
  }
  .landing_section_1_image {
    position: absolute;
    background: url("/assets/landing_bg.png") no-repeat;
    background-size: contain;
  }

  .landing_section_3_inner_left {
    img {
      display: none !important;
    }
  }
  .logo_img {
    display: none;
  }
  .landing_section_4_inner {
    flex-direction: column-reverse;
    .landing_section_4_left {
      padding: 2rem 0;
      text-align: center;
      p {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50% !important;
          transform: translate(-50%);
          width: 2rem;
          height: 1px;
          background: $primary_color;
        }
      }
    }
    .landing_section_4_right {
      width: 100%;

      img {
        height: 500px;
        width: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .landing_section_3 {
    .landing_section_3_inner {
      flex-direction: column;
      .landing_section_3_inner_left {
        width: 100%;
        div {
          max-width: 100%;
        }
        p {
          max-width: 100%;
        }
      }
      .landing_section_3_inner_right {
        max-width: 100%;
        margin-top: 2rem;
      }
    }
  }
}
@media only screen and (max-width: 685px) {
  .landing_section_1 {
    .landing_section_1_inner {
      left: 2rem;
      top: unset;
      bottom: 2rem;
      transform: unset;
      width: 90%;
      h1 {
        font-size: 2rem;
      }
    }
    .landing_section_1_image {
      position: absolute;
      background: url("/assets/landing_bg.png") no-repeat;
      background-size: contain;
      width: 1440px;
      height: 874px;
      top: -150px;
      right: -300px;
    }
  }
  .testimonial_slider {
    width: 100% !important;
  }
}
@media only screen and (max-width: 500px) {
  .landing_section_2 {
    padding: 4rem 0;
    h2 {
      padding-bottom: 4rem;
    }
    .landing_section_2_inner {
      flex-direction: column;
      width: 100%;
      padding: 0 1rem;
      .landing_section_2_item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-right: 0.5rem;
        flex-direction: column;
        &:nth-child(2) {
          margin: 1rem 0;
        }
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  .landing_section_2 {
    padding: 2rem 0;
    h2 {
      padding-bottom: 0rem;
    }
    .landing_section_2_inner {
      padding-bottom: 4rem;
      // padding-top: 2rem;
    }
  }
  .landing_section_3 {
    padding: 0 1.3rem 5rem 1.3rem;
  }
  .landing_section_5 {
    padding: 3rem 0;
  }
  .industry_type_select {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .landing_section_5 {
    .landing_section_5_right {
      padding-left: 1.5rem;
      h1 {
        font-size: 1.75rem;
      }
      p {
        font-size: 0.875rem;
        padding-right: 0.5rem;
      }
    }
  }
  .landing_section_2 {
    .landing_section_2_inner {
      justify-content: center;
      align-items: center;
      padding: 0rem;
      .landing_section_2_item {
        display: block;
        border: none;
        padding-right: 0rem;
      }
    }
  }
  .landing_section_4_right {
    span {
      background: #fff;
    }
  }
  .landing_section_4_left_mobile {
    padding: 1rem;
    div {
      text-align: left !important;
      h2 {
        padding: 1rem 0;
        font-size: 1.75rem !important;
      }
      p {
        padding: 0.5rem;
        font-size: 0.875rem !important;
      }
    }
    & .slick-dots {
      display: flex !important;
    }
  }
  .landing_section_5 {
    .landing_section_5_inner {
      flex-direction: column;
      .landing_section_5_right {
        padding-top: 2rem;
        h1 {
          width: 100%;
          font-size: 1.75rem;
        }
        p {
          max-width: 100%;
        }
      }
    }
  }
  .testimoial_info {
    flex-direction: column;
  }

  .landing_section_1 {
    .landing_section_1_inner {
      left: 1rem;
      top: unset;
      bottom: 2rem;
      transform: unset;
      width: 90%;
      h1 {
        font-size: 2rem;
      }
    }
    .landing_section_1_image {
      top: -200px;
      right: -320px;
      width: 1400px;
    }
  }

  .landing_section_2 {
    padding-top: 2rem;
    padding-bottom: 3rem;
    h2 {
      padding-bottom: 2rem;
    }
  }
  .landing_section_4_left_mobile {
    display: block !important;
    width: 100%;
    padding-bottom: 3rem;
    div {
      width: 100%;
      text-align: center;
      h2 {
        width: 100%;
        padding: 0.5rem;
        color: $primary_color;
      }
      p {
        color: #878787;
        padding-bottom: 1rem;
      }
    }
  }
  .landing_section_4_left {
    display: none;
  }
  .testimonial {
    padding: 4rem 0;
  }

  .landing_section_7 {
    button {
      font-weight: normal;
    }
    p {
      padding: 0 1rem;
    }
  }
  .landing_section_4 {
    .landing_section_4_right {
      span {
        display: flex;
        font-size: 0.75rem;
        color: #b0cac3;
        padding: 0.75rem;
      }
      img {
        object-fit: fill;
        max-height: 210px;
      }
    }
  }
  .landing_section_2 {
    .landing_section_2_inner {
      padding-left: 1rem;
      .landing_section_2_item {
        width: 100%;
      }
    }
  }
  .landing_section_3 {
    .landing_section_3_inner {
      .landing_section_3_inner_left {
        h1 {
          font-size: 1.75rem !important;
          padding-right: 0;
        }
        p {
          font-size: 0.85rem;
        }
      }
      .landing_section_3_inner_right {
        .landing_section_3_inner_right_item {
          padding: 1.5rem 0px 1.5rem 0rem;
          img {
            margin-right: 0;
            margin-left: 0;
          }
          p {
            font-size: 0.85rem;
            font-weight: bold !important;
          }
        }
      }
    }
  }
  .landing_section_6 {
    .landing_section_6_inner {
      .landing_section_6_inner_item_wraper {
        padding-top: 3rem;
        .landing_section_text {
          color: #878787;
        }
        h1 {
          font-size: 1.75rem;
        }
        p {
          font-size: 0.875rem;
          font-weight: bold;
        }
      }
    }
  }
  .testimonial {
    padding-bottom: 1.75rem;
  }
  .testimonial_slider {
    padding: 0.5rem;
  }
  .testimonial_img {
    width: 40px;
    height: 34px;
    padding: 0 !important;
  }
  .testimonial_item_text {
    padding-top: 1.2rem;
    font-size: 1rem !important;
    line-height: 1.75rem !important;
  }
  .landing_section_2 {
    h2 {
      padding-top: 1rem;
      font-size: 1.125rem;
    }
  }
  .landing_section_2 {
    .landing_section_2_inner {
      .landing_section_2_item {
        .landing_section_2_item_desc {
          div {
            padding-top: 0;
          }
        }
        h3 {
          font-size: 1.125rem;
        }
        p {
          font-size: 0.875rem;
        }
      }
    }
  }
  .landing_section_6 {
    height: 920px;
    .landing_section_6_inner_item_box {
      margin-top: 1.5rem;
    }
  }
  .landing_section_7 {
    h1 {
      font-size: 1.75rem;
    }
  }
}
@media only screen and (max-width: 400px) {
  .landing_section_6 {
    background-size: cover;
    .landing_section_6_image {
      background-size: cover;
    }
  }
  .landing_section_1 {
    height: 630px;
    .landing_section_1_image {
      top: -116px;
      right: -440px;
      width: 1280px;
      height: 700px;
    }
    .landing_section_1_inner {
      padding-right: 0.5rem;
      h1 {
        font-size: 1.75rem;
        padding-bottom: 0.5rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
@media only screen and (max-width: 350px) {
  .landing_section_5 {
    .landing_section_5_inner {
      .landing_section_5_right {
        h1 {
          font-size: 1.5rem;
        }
      }
    }
  }
  .landing_section_6_inner_item_wraper {
    h1 {
      font-size: 1.5rem !important;
    }
  }

  .landing_section_3 {
    .landing_section_3_inner {
      .landing_section_3_inner_left {
        h1 {
          font-size: 1.5rem !important;
        }
      }
    }
  }
}
