@import "../config.scss";
nav {
  background: transparent;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 1024px;
  z-index: 1000;
  .navbar {
    display: flex;
    justify-content: space-between;
    background: transparent;
    align-items: center;
    padding-top: 0.5rem;
    .logo {
      display: flex;
      align-items: center;
      img {
        &:nth-child(1) {
          display: flex !important;
        }
        &:nth-child(2) {
          display: none !important;
        }
      }
      &.open_collapse_menu {
        img {
          &:nth-child(1) {
            display: none !important;
          }
          &:nth-child(2) {
            display: flex !important;
          }
        }
      }
    }
    .navigation_links {
      ul {
        display: flex;
        align-items: center;
        li {
          margin: 0 0.2rem;
          text-align: center;
          a {
            color: #96b5ad;
            font-weight: bold;
            padding: 1rem;
            border-bottom: 2px solid transparent;
            font-size: 0.875rem;
            &.active_link_nav {
              border-bottom: 2px solid $primary_color;
              transition: all 400ms ease-in-out;
              color: #333;
            }
            &:hover {
              color: #333;
              border-width: 100%;
              border-bottom: 2px solid $primary_color;
              transition: all 400ms ease-in-out;
            }
          }
        }
      }
    }
    .contact_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.75rem 1rem;
      background: #fff;
      border-radius: 0.2rem;
      color: $primary_color;
      margin: 0.2rem 0;
      width: 190px;
      height: 50px;
      font-weight: bold;
    }
  }
  .hamburger_menu {
    display: none;
  }
  .collapse_menu {
    transform: translate3d(0, -1800px, 0);
    height: 0;
    width: 100%;
    height: 100vh;
    left: 0;
    background: $primary_color;
    z-index: -1;
    display: flex;
    position: fixed;
    transition: all 250ms ease-in-out;
    &.open_collapse_menu {
      top: 0;
      left: 0;
      transform: translate3d(0, 0, 0);
      .navigation_links_collapse_menu {
        top: 50%;
        left: 10%;
        transform: translate(-10%, -50%);
        position: absolute;
        ul {
          li {
            padding: 1rem 0;
            cursor: pointer;
            width: 100%;
            border-bottom: 1px solid #63af9f;
          }
        }
        .contact_btn_collapse_menu {
          margin-top: 4rem;
          background: #fff;
          color: $primary_color;
          padding: 1rem 100px;
          border-radius: 0.2rem;
          font-weight: bold;
        }
        a {
          color: #fff;
          font-size: 1.5rem;
          font-weight: bold;
        }
        .navbar_footer {
          padding-top: 4rem;
          p {
            color: #fff;
            padding-bottom: 0.2rem;
            font-size: 0.8125rem;
          }
          span {
            font-size: 0.6875rem;
            color: #b0cac3;
          }
        }
      }
    }
  }
}

// Media query
@media only screen and (max-width: 1024px) {
  nav {
    width: 100%;
    padding: 0 0.5rem;
  }
}
@media only screen and (max-width: 970px) {
  nav {
    .navbar {
      .contact_btn {
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 970px) {
  .navigation_links {
    display: none;
  }
  nav {
    padding-top: 0.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .hamburger_menu {
    display: flex !important;
    height: 1.5rem;
    width: 1.75rem;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    &.hamburger_menu_white {
      span {
        background: #fff;
      }
    }
    &.hamburger_menu_dark {
      span {
        background: #333;
      }
    }
    &.open_collapse_menu {
      justify-content: center;
      span {
        transition: all 250ms ease-in-out;
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          margin-top: -4px;
        }
      }
    }
    span {
      transition: all 250ms ease-in-out;
      width: 100%;
      height: 4px;
      background: white;
    }
  }
}
@media only screen and (max-width: 450px) {
  nav {
    .navbar {
      .collapse_menu {
        &.open_collapse_menu {
          .navigation_links_collapse_menu {
            left: 14%;
            width: 90%;
            top: 53%;
            ul {
              li {
                border-bottom: none;
                a {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  nav {
    .navbar {
      .collapse_menu {
        &.open_collapse_menu {
          .navigation_links_collapse_menu {
            left: 14%;
            width: 90%;
            top: 53%;
            ul {
              padding: 2rem 0;
              li {
                border-bottom: none;
                a {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
  .contact_btn_collapse_menu {
    width: 100%;
    margin-top: 0 !important;
  }
}

// ------------------------------------------------
@media only screen and (max-height: 600px) {
  .navbar_footer {
    padding-bottom: 0.75rem;
  }
}
