$primary_color: #4d9988;
$primary_color_light: #c4ddd7;

$secondary_color: #939393;
$secondary_color_light: #c4c4c4;

$ternary_color: #96b5ad;

$error_color: #e0333b;

@font-face {
  font-family: "NeueHaasGrotesk-std";
  src: url("./fonts/NHaasGroteskTXPro-55Rg.ttf") format("woff2"),
    url("./fonts/NHaasGroteskTXPro-55Rg.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasGrotesk-bold";
  src: url("./fonts/NHaasGroteskDSStd-75Bd.ttf") format("woff2"),
    url("./fonts/NHaasGroteskDSStd-75Bd.ttf") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: "NeueHaasGrotesk-std";
}
a {
  text-decoration: none;
  color: dodgerblue;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "NeueHaasGrotesk-bold" !important;
}
input {
  outline: none;
  border: 1px solid #d3d3d3;
}
.container {
  margin: 0 auto;
  width: 1440px;
}
@media only screen and (max-width: 1440px) {
  .container {
    width: auto;
  }
}
.text_error {
  color: red;
  font-size: 0.9rem;
}
.input_error {
  border: 1px solid red;
}

.global_form_error {
  padding-bottom: 2rem;
}
.primary_btn {
  background: $primary_color;
  color: #fbfbfb;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
// slick-active
.slick-dots {
  padding-top: 0.5rem;

  li {
    margin: 0px;
    &.slick-active {
      button {
        &::before {
          line-height: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 15px;
          height: 15px;
          content: "•";
          font-size: 5px;
          text-align: center;
          color: #333 !important;
        }
      }
    }
    button {
      &::before {
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        content: "•";
        font-size: 5px;
        text-align: center;
        opacity: 0.25;
        color: #979797;
      }
    }
  }
}
.testimonial_slider {
  position: relative;
  .slick-dots {
    display: block !important;
    position: absolute !important;
    bottom: 4rem !important;
    width: 20% !important;
    right: -2rem !important;
  }
}
@media only screen and (max-width: 500px) {
  .testimonial_slider {
    .slick-dots {
      position: relative !important;
      display: block !important;
      bottom: unset !important;
      right: unset !important;
    }
  }
}
