@import "./config.scss";

@media only screen and (max-width: 1440px) {
  .landing_section_5_inner {
    width: 100% !important;
  }
  .landing_section_1 {
    width: 100% !important;
  }
  // .contact_success_wraper {
  //   width: 100% !important;
  // }
  .landing_section_1_inner {
    left: 6rem !important;
    transform: translate(6rem, -50%) !important;
  }
}
@media only screen and (max-width: 1310px) {
  .landing_section_1_inner {
    left: 4.3rem !important;
    transform: translate(4.3rem, -50%) !important;
  }
}
@media only screen and (max-width: 1280px) {
  .landing_section_5_inner {
    img {
      width: 100%;
    }
  }
  .landing_section_1_image {
    width: 1440px !important;
    height: 874px !important;
    right: -150px !important;
    top: 40px !important;
  }
  .landing_section_1_inner {
    left: 3.2rem !important;
    top: 50%;
    transform: translate(3.2rem, -50%) !important;
  }
  .landing_section_6_inner {
    position: absolute;
    top: 50%;
    left: 1rem !important;
    transform: translate(0, -50%) !important;
    display: flex;
    align-items: flex-start;
    width: 445px;
  }
  .landing_section_6_image {
    width: 1280px;
    height: 100vh;
    right: -30px;
  }
  .landing_section_1_image {
    right: -280px !important;
  }
}
@media only screen and (max-width: 1024px) {
  nav {
    width: 100% !important;
    padding: 0 0.5rem;
  }
  .contact {
    width: 100% !important;
    padding: 0 0.5rem;
  }
  .landing_section_2 {
    h2 {
      padding-left: 1rem;
    }
  }
  .landing_section_1_inner {
    left: 1rem !important;
    top: 50%;
    transform: translate(1rem, -50%) !important;
  }
  .landing_section_5_inner {
    h1 {
      width: 100% !important;
    }
  }
  .landing_section_1_inner {
    width: 40% !important;
  }
  .landing_section_2 {
    h2 {
      width: 100%;
    }
  }
  .landing_section_2_inner {
    flex-direction: column;
    width: 100% !important;
    padding: 0 1rem;
    .landing_section_2_item {
      display: flex;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      padding-right: 0.5rem;
      flex-direction: row !important;
      &:nth-child(2) {
        margin: 1rem 0 !important;
      }
    }
  }
  .landing_section_3 {
    padding-top: 0rem;
    .landing_section_3_inner {
      width: 100% !important;
    }
  }
  .landing_section_5_inner {
    flex-direction: column;
    .landing_section_5_right {
      padding: 0 1.5rem;
      p {
        max-width: 100%;
      }
    }
  }
  .landing_section_6 {
    background: none !important;
    overflow: hidden;
    .landing_section_6_image {
      background: url(/assets/section_6_mobile_bg.svg) no-repeat !important;
      background-size: 100% !important;
      right: 0;
      left: 0;
      top: 0px !important;
      bottom: 0;
    }
    .landing_section_6_inner {
      top: 50%;
      width: 90% !important;
      left: 50% !important;
      transform: translate(-50%, -50%) !important;
      padding: 0 0.2rem;
      .landing_section_6_inner_item_wraper {
        width: 100%;
        .landing_section_text {
          max-width: 100%;
        }
      }
    }
  }

  .landing_section_1_image {
    width: 1300px !important;
    height: 800px !important;
    right: -305px !important;
  }

  .landing_section_6_inner_item_box {
    margin-top: 4rem;
    width: 100%;
    height: 269px;
    background: #fff;
  }
}
@media only screen and (max-width: 970px) {
  .navigation_links {
    display: none;
  }
  nav {
    padding-top: 0.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .contact_btn {
    display: none !important;
  }
  .hamburger_menu {
    display: flex !important;
    height: 1.5rem;
    width: 1.75rem;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    &.hamburger_menu_white {
      span {
        background: #fff;
      }
    }
    &.hamburger_menu_dark {
      span {
        background: #333;
      }
    }
    &.open_collapse_menu {
      justify-content: center;
      span {
        transition: all 250ms ease-in-out;
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          margin-top: -4px;
        }
      }
    }
    span {
      transition: all 250ms ease-in-out;
      width: 100%;
      height: 4px;
      background: white;
    }
  }
}
@media only screen and (max-width: 900px) {
  .landing_section_1 {
    height: 700px;
  }
  .landing_section_1_inner {
    h1 {
      font-size: 2.4rem !important;
    }
  }
  .landing_section_3 {
    padding: 0 2rem 8rem 2rem;
  }
  .landing_section_1_image {
    position: absolute;
    background: url("/assets/landing_bg.png") no-repeat;
    background-size: contain;
  }

  .landing_section_3_inner_left {
    img {
      display: none !important;
    }
  }
  .logo_img {
    display: none;
  }
  .landing_section_4_inner {
    flex-direction: column-reverse;
    .landing_section_4_left {
      padding: 2rem 0;
      text-align: center;
      p {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50% !important;
          transform: translate(-50%);
          width: 2rem;
          height: 1px;
          background: $primary_color;
        }
      }
    }
    .landing_section_4_right {
      width: 100%;

      img {
        height: 500px;
        width: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }
  .contact_from_wraper {
    flex-direction: column;
    form {
      width: 100% !important;
    }
    .contact_from_wraper_desc {
      h3 {
        width: 200px;
        padding-bottom: 1.5rem;
      }
    }
  }
  .contact {
    padding: 0 0.75rem;
    .logo {
      display: none;
    }
  }
}
@media only screen and (max-width: 768px) {
  .contact_form_info {
    grid-template-columns: 1fr !important;
  }
  .landing_section_3_inner {
    flex-direction: column;
    .landing_section_3_inner_left {
      width: 100% !important;
      div {
        max-width: 100% !important;
      }
      p {
        max-width: 100% !important;
      }
    }
    .landing_section_3_inner_right {
      max-width: 100% !important;
      margin-top: 2rem;
    }
  }
}
@media only screen and (max-width: 685px) {
  .landing_section_1_inner {
    left: 2rem !important;
    top: unset !important;
    bottom: 2rem;
    transform: unset !important;
    width: 90% !important;
    h1 {
      font-size: 2rem !important;
    }
  }
  .testimonial_slider {
    width: 100% !important;
  }
  .landing_section_1_image {
    position: absolute;
    background: url("/assets/landing_bg.png") no-repeat;
    background-size: contain;
    width: 1440px;
    height: 874px;
    top: -150px !important;
    right: -300px !important;
  }
}
@media only screen and (max-width: 500px) {
  .contact {
    padding-top: 120px !important;
  }
  .landing_section_2_inner {
    flex-direction: column;
    width: 100% !important;
    padding: 0 1rem;
    .landing_section_2_item {
      display: flex;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      padding-right: 0.5rem;
      flex-direction: column !important;
      &:nth-child(2) {
        margin: 1rem 0 !important;
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  .landing_section_2 {
    padding: 2rem 0 !important;
    h2 {
      padding-bottom: 0rem !important;
    }
    .landing_section_2_inner {
      padding-bottom: 4rem !important;
      padding-top: 2rem !important;
    }
  }
  .landing_section_3 {
    padding: 0 1.3rem 5rem 1.3rem;
  }
  .landing_section_5 {
    padding: 3rem 0 !important;
  }
  .industry_type_select {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .landing_section_5_right {
    padding-left: 1.5rem !important;
    h1 {
      font-size: 1.75rem !important;
    }
    p {
      font-size: 0.875rem !important;
      padding-right: 0.5rem;
    }
  }
  .landing_section_2_inner {
    justify-content: center !important;
    align-items: center;
    padding: 0rem;
    .landing_section_2_item {
      display: block;
      border: none;
      padding-right: 0rem;
    }
  }
  .landing_section_4_right {
    span {
      background: #fff;
    }
  }
  .landing_section_4_left_mobile {
    padding: 1rem;
    div {
      text-align: left !important;
      h2 {
        padding: 1rem 0;
        font-size: 1.75rem !important;
      }
      p {
        padding: 0.5rem;
        font-size: 0.875rem !important;
      }
    }
    & .slick-dots {
      display: flex !important;
    }
  }
  .landing_section_5_inner {
    flex-direction: column;
    .landing_section_5_right {
      padding-left: 4rem;
      padding-top: 2rem;
      h1 {
        width: 100% !important;
        font-size: 1.75rem !important;
      }
      p {
        max-width: 100%;
      }
    }
  }
  .testimoial_info {
    flex-direction: column;
  }

  .landing_section_1_inner {
    left: 1rem !important;
    top: unset !important;
    bottom: 2rem;
    transform: unset !important;
    width: 90% !important;
    h1 {
      font-size: 2rem !important;
    }
  }
  .landing_section_1_image {
    top: -200px;
    right: -420px !important;
    width: 1400px !important;
  }
  .navigation_links_collapse_menu a {
    font-size: 1.5rem !important;
  }
  .landing_section_2 {
    padding-top: 2rem;
    padding-bottom: 3rem;
    h2 {
      padding-bottom: 2rem;
    }
  }
  .landing_section_4_left_mobile {
    display: block !important;
    width: 100%;
    padding-bottom: 3rem;
    div {
      width: 100%;
      text-align: center;
      h2 {
        width: 100%;
        padding: 0.5rem;
        color: $primary_color;
      }
      p {
        color: #878787;
        padding-bottom: 1rem;
      }
    }
  }
  .landing_section_4_left {
    display: none;
  }
  .testimonial {
    padding: 4rem 0;
  }
  .contact_success_desc {
    padding-top: 110px !important;
    height: 70vh !important;
    width: 90%;
    border-bottom: 1px solid #d3d3d3;
  }
  .contact_from_wraper_desc {
    width: 100% !important;
    padding-bottom: 0.75rem;
  }
  .navigation_links_collapse_menu {
    left: 14% !important;
    width: 90%;
    top: 53% !important;
    ul {
      li {
        border-bottom: none !important;
      }
    }
  }
  .landing_section_7 {
    button {
      font-weight: normal !important;
    }
    p {
      padding: 0 1rem;
    }
  }
  .landing_section_4_right {
    span {
      display: flex !important;
      font-size: 0.75rem;
      color: #b0cac3;
      padding: 0.75rem;
    }
    img {
      object-fit: fill !important;
      max-height: 210px;
    }
  }
  .landing_section_2_inner {
    padding-left: 1rem;
    .landing_section_2_item {
      width: 100% !important;
    }
  }
  .landing_section_3_inner_left {
    h1 {
      font-size: 1.75rem !important;
      padding-right: 0 !important;
    }
    p {
      font-size: 0.85rem !important;
    }
  }
  .landing_section_3_inner_right_item {
    padding: 1.5rem 0px 1.5rem 0rem !important;
    img {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
    p {
      font-size: 0.85rem !important;
      font-weight: bold !important;
    }
  }
  .landing_section_6_inner_item_wraper {
    padding-top: 3rem;
    .landing_section_text {
      color: #878787 !important;
    }
    h1 {
      font-size: 1.75rem !important;
    }
    p {
      font-size: 0.875rem !important;
      font-weight: bold !important;
    }
  }
  .testimonial {
    padding-bottom: 1.75rem !important;
  }
  .testimonial_slider {
    padding: 0.5rem;
  }
  .testimonial_img {
    width: 40px;
    height: 34px;
    padding: 0 !important;
  }
  .testimonial_item_text {
    padding-top: 1.2rem;
    font-size: 1rem !important;
    line-height: 1.75rem !important;
  }
  .landing_section_2 {
    h2 {
      font-size: 1.125rem !important;
    }
  }
  .landing_section_2_item {
    .landing_section_2_item_desc {
      div {
        padding-top: 0 !important;
      }
    }
    h3 {
      font-size: 1.125rem !important;
    }
    p {
      font-size: 0.875rem !important;
    }
  }
  .landing_section_6 {
    height: 920px;
    .landing_section_6_inner_item_box {
      margin-top: 1.5rem;
    }
  }
  .landing_section_7 {
    h1 {
      font-size: 1.75rem !important;
    }
  }
}
@media only screen and (max-width: 400px) {
  .contact {
    padding-top: 100px !important;
    padding: 0 1rem;
    .contact_header_headline {
      h1 {
        font-size: 1.75rem !important;
      }
      p {
        font-size: 0.85rem !important;
      }
    }
    .contact_form_additional_details {
      padding-bottom: 0 !important;
    }
    input[type="submit"] {
      width: 100% !important;
    }
  }
  .navigation_links_collapse_menu a {
    font-size: 1rem !important;
  }
  .navigation_links_collapse_menu {
    ul {
      padding: 2rem 0;
    }
  }
  .contact_btn_collapse_menu {
    width: 100%;
    margin-top: 0 !important;
  }
  .landing_section_6 {
    background-size: cover !important;
    .landing_section_6_image {
      background-size: cover !important;
    }
  }
  .landing_section_1 {
    height: 630px !important;
  }
  .landing_section_1_image {
    top: -116px !important;
    right: -440px !important;
    width: 1280px !important;
    height: 700px !important;
  }
  .landing_section_1_inner {
    padding-right: 0.5rem;
    h1 {
      font-size: 1.75rem !important;
      padding-bottom: 0.5rem !important;
    }
    p {
      font-size: 1rem !important;
    }
  }
}
@media only screen and (max-width: 350px) {
  .contact_btn_collapse_menu {
    width: 100% !important;
  }
  .landing_section_5_right {
    h1 {
      font-size: 1.5rem !important;
    }
  }
  .landing_section_6_inner_item_wraper {
    h1 {
      font-size: 1.5rem !important;
    }
  }
  .testimonial_slider {
    // height: 460px !important;
  }
  .landing_section_3_inner_left {
    h1 {
      font-size: 1.5rem !important;
    }
  }
}
@media only screen and (max-width: 600px) {
  .navbar_footer {
    padding-top: 3rem !important;
    padding-bottom: 0.5rem;
  }
}
